[Unit]
Description=Health Heat Map reload data

[Service]
Type=oneshot
WorkingDirectory=%h/src/github/Metastring/health-heat-map-api
ExecStart=/usr/lib/jvm/adoptopenjdk-11-hotspot-amd64/bin/java -jar cli/target/health-heatmap-cli-runner.jar -z -p %h/src/github/Metastring/healthheatmap-data -n data

[Install]
WantedBy=default.target