[Unit]
Description=Health Heat Map service

[Service]
WorkingDirectory=%h/src/github/Metastring/health-heat-map-api
ExecStart=/usr/lib/jvm/adoptopenjdk-11-hotspot-amd64/bin/java -jar web/target/health-heatmap-web-runner.jar

[Install]
WantedBy=default.target