{
  "openapi": "3.0.1",
  "info": {
    "title": "Health Data API",
    "description": "Query a multidimensional health data warehouse",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "http://hhm.optimus.metastringfoundation.free.gen.in/api/",
      "description": "staging server"
    },
    {
      "url": "http://localhost:8080/api/",
      "description": "localhost"
    }
  ],
  "paths": {
    "/data": {
      "get": {
        "operationId": "getData",
        "parameters": [
          {
            "name": "indicators",
            "in": "query",
            "description": "List of indicators",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "geographies",
            "in": "query",
            "description": "List of geographies",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sources",
            "in": "query",
            "description": "List of sources",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Get any data. Dimensions like indicator, source form the key. Values to filter should be passed as value for each key",
        "operationId": "getData_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Filter"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dimensions": {
      "get": {
        "operationId": "exportAnyField",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SelectFields"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object"
                    }
                  },
                  "example": [
                    {
                      "indicator_universal_name": "Under Five Mortality Rate",
                      "indicator_category": "Child Health",
                      "indicator_subcategory": "Mortality"
                    },
                    {
                      "indicator_universal_name": "Maternal Mortality Rate",
                      "indicator_category": "Maternal Health",
                      "indicator_subcategory": "Mortality"
                    }
                  ]
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "example": "indicator\nMMR\nU5MR"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Use this endpoint to fetch values of various dimensions. Eg: source, indicator, entity.state, entity.district, etc",
        "operationId": "exportAnyFieldAdvanced",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilterAndSelectFields"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object"
                    }
                  }
                },
                "examples": {
                  "No Source": {
                    "value": [
                      {
                        "indicator_universal_name": "Under Five Mortality Rate",
                        "indicator_category": "Child Health",
                        "indicator_subcategory": "Mortality"
                      },
                      {
                        "indicator_universal_name": "Maternal Mortality Rate",
                        "indicator_category": "Maternal Health",
                        "indicator_subcategory": "Mortality"
                      }
                    ]
                  },
                  "With Source": {
                    "value": [
                      {
                        "indicator_universal_name": "Under Five Mortality Rate",
                        "indicator_category": "Child Health",
                        "indicator_subcategory": "Mortality",
                        "source": "NFHS - 4"
                      },
                      {
                        "indicator_universal_name": "Under Five Mortality Rate",
                        "indicator_category": "Child Health",
                        "indicator_subcategory": "Mortality",
                        "source": "AHS"
                      },
                      {
                        "indicator_universal_name": "Maternal Mortality Rate",
                        "indicator_category": "Maternal Health",
                        "indicator_subcategory": "Mortality"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/download": {
      "post": {
        "description": "Use this endpoint to allow user to download data in various formats (presently only CSV)",
        "operationId": "downloadData",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "CSV of the data obtained after filtering with the requested filters",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "example": "indicator_universal_name,entity.district,value,gender,socialgroup\nMaternal Mortality Rate,Kannur,1,Male,OBC\nUnder Five Mortality Rate,Kannur,2,Male,OBC"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "getHealth",
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DataResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        }
      },
      "MultivaluedMap": {
        "type": "object",
        "properties": {
          "key": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "example": {
          "indicator_universal_name": [
            "Maternal Mortality Rate",
            "Under Five Mortality Rate"
          ]
        }
      },
      "DownloadRequest": {
        "type": "object",
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/MultivaluedMap"
          },
          "userinfo": {
            "type": "object",
            "example": {
              "email": "akshay@metastringfoundation.org",
              "name": "Akshay S Dinesh",
              "affiliation": "Metastring Foundation"
            },
            "properties": {
              "email": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "affiliation": {
                "type": "string"
              }
            }
          }
        }
      },
      "Filter": {
        "type": "object",
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/MultivaluedMap"
          }
        }
      },
      "FilterAndSelectFields": {
        "type": "object",
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/MultivaluedMap"
          },
          "fields": {
            "$ref": "#/components/schemas/SelectFields"
          }
        }
      },
      "SelectFields": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "example": [
          "indicator_universal_name",
          "indicator_category",
          "indicator_subcategory"
        ]
      }
    }
  }
}